<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-latest.js') }}" ></script>
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery.tablesorter.js') }}" ></script>
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'list.js') }}" ></script>
		<script type = "text/javascript" src = "{{ url_for('static', filename = 'CollapsibleLists.js') }}" ></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://code.stephenmorley.org/javascript/collapsible-lists/CollapsibleLists.js"></script>
	<title>ClickNCollect</title>

	<style>
	</style>
</head>

<body>

<h1>{{message}}</h1>

</body>
</html>
