<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'map.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'generateKey.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-latest.js') }}" ></script>

	<title>TITLE</title>

	<style>
		/* Always set the map height explicitly to define the size of the div
		 * element that contains the map. */
		#map {
			height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
</head>

<body>
	{% include 'navbar.html' %}
<div class="jumbotron">
	<div class="container text-center">
		<h1>Welcome to One Ok Maps!</h1>
		<p>Endorsed by One Ok Rock!</p>
		<form>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12 main-button" onclick="createNewGroup()">
								<a class="btn btn-primary btn-lg" href="#" role="button">New Group</a>
						</div>
					</div>
				</div>

		</form>
	</div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>
