<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'PolygonWrapper.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'map.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery-latest.js') }}" ></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>TITLE</title>

	<style>
		/* Always set the map height explicitly to define the size of the div
		 * element that contains the map. */
		#map {
			height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
</head>
  <body>
		{% include 'navbar.html' %}
		{{message}}
		<div class="container main-map">
			<div class="col-xs-2">
				<div class="row">
						<button class="btn btn-success">Click</button>
				</div>
				<div class="row">
						<button class="btn btn-success">Mark</button>
				</div>
				<div class="row">
						<button class="btn btn-success">Polygon</button>
				</div>
				<div class="row">
						<button class="btn btn-success">Load</button>
				</div>
				<div class="row">
						<button class="btn btn-success">Delete</button>
				</div>
				<div class="row">
						<button class="btn btn-success">Invite</button>
				</div>
			</div>
			<div class="col-xs-10">
					<div id="map"></div>
			</div>
		</div>


		<script>
		init = () => {
			initMap({{markers | tojson | safe}}, '{{key}}');
		}
		$(window).resize(function () {
			var h = $(window).height(),
			offsetTop = 60; // Calculate the top offset

			$('#map').css('height', (h - offsetTop - 20));
		}).resize();
		$(document).ready(()=>{setInterval(pollDirtyBackEnd, 3000)});
		</script>
		<script src='https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=init' async defer></script>
  </body>
</html>
